* {
    box-sizing: border-box;
    text-transform: capitalize;
}
#content {
    margin: 0 auto;
    width: 1200px;
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}
#canvas{
    border: 1px solid black;
    /*background-color: #000;*/
}